body {
  background-color: rgb(180, 180, 218);
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.input {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 50px;
  padding-left: 10px;
  outline: thin;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgb(211, 211, 211);
}

.countries-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
  list-style: none;
  border-radius: 5px;
  width: 500px;
  min-height: 150px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  background-color: rgb(211, 211, 211);
}

.countries-list__item {
  list-style: none;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.country-card__name {
  text-align: center;
  font-size: 40px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
}

.profile__text {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
}

.country-info {
  padding: 0;
  margin: 0;
  list-style: none;
}

.country-info__item {
  margin-bottom: 20px;
}

.country-info__item--head {
  font-weight: bold;
  margin-right: 10px;
}

.language {
  margin: 0;
}

.language__item {
  margin-top: 10px;
}

.countries-list {
  padding: 0;
}

.pnotify-text-with-max-height {
  overflow-y: visible;
}
